* {
  box-sizing: border-box;
  
}
:root {
  --value-card: none;
}
.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
div {
  display: inline;
}
.card {
  color: white;
  font-size: 2rem;
  text-align: center;
  justify-self: center;
  height: 100px;
  width: 100px;
  background-color: red;
}
.card .value {
  display: var(--value-card);
}